table.erlea-horario {
  font-family: sans-serif, Helvetica;
  width: 100%;
  color: #212121;
  table-layout: fixed; }
  table.erlea-horario tbody th:first-child,
  table.erlea-horario thead th:first-child {
    width: 5.5%; }
  table.erlea-horario tbody th:not(:first-child),
  table.erlea-horario thead th:not(:first-child) {
    width: 13.5%; }
  table.erlea-horario tbody td,
  table.erlea-horario thead td {
    width: 13.5%; }
  table.erlea-horario thead tr {
    background-color: #ffffff; }
  table.erlea-horario thead th {
    padding: 10px 2px; }
  table.erlea-horario tbody tr:nth-child(odd) {
    background: #ffffff; }
  table.erlea-horario tbody tr:nth-child(even) {
    background: #eff0f1; }
  table.erlea-horario tbody tr:hover:nth-child(odd) {
    background: #fffff5; }
  table.erlea-horario tbody tr:hover:nth-child(even) {
    background: #f5f6ed; }
  table.erlea-horario th, table.erlea-horario td {
    padding: 1px 2px;
    font-size: 12px; }
  table.erlea-horario.erlea-horario-detalle tbody th:first-child,
  table.erlea-horario.erlea-horario-detalle thead th:first-child {
    width: 100px; }
  table.erlea-horario.erlea-horario-detalle tbody th:not(:first-child),
  table.erlea-horario.erlea-horario-detalle thead th:not(:first-child) {
    width: calc(100% - 100px); }
  table.erlea-horario.erlea-horario-detalle tbody td,
  table.erlea-horario.erlea-horario-detalle thead td {
    width: calc(100% - 100px); }
  table.erlea-horario.erlea-horario-detalle thead th:last-child {
    text-align: left; }

.h-link-to-detail {
  display: block;
  width: 100%;
  line-height: 28px;
  text-decoration: underline; }
  .h-link-to-detail:hover {
    background-color: #ffe1f0; }

.h-item-container {
  height: 24px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-decoration: solid;
          text-decoration: solid; }

.h-item {
  flex: 1 1 auto;
  background-color: #1976d2;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px; }
  .h-item + .h-item {
    border-left: 1px solid white; }
  .h-item:hover {
    cursor: pointer;
    opacity: .9; }

.h-back-button {
  margin: 0;
  line-height: 24px;
  width: 90%; }
