// Tabla del horario
$cell-time-width: 5.5%;
$cell-default-width: 13.5%;
$detail-cell-time-width: 100px;
$detail-default-width: calc(100% - 100px);
$table-text-color: #212121;
$odd-row-bg: #ffffff;
$even-row-bg: #eff0f1;
$row-hover-base-bg: #ffffe6;
$row-hover-base-bg: #ffffe6;
$even-row-hover-bg: mix($row-hover-base-bg, $even-row-bg, 40);
$odd-row-hover-bg: mix($row-hover-base-bg, $odd-row-bg, 40);

// Items del horario
$item-container-height: 24px;
$h-item-default-color: #ffffff;
$h-item-default-bg: #1976d2;
$h-item-border-radius: 3px;

table.erlea-horario {
  font-family: sans-serif, Helvetica;
  width: 100%;
  color: $table-text-color;
  table-layout: fixed;

  tbody,
  thead {
    
    th {
      &:first-child {
        width: $cell-time-width;
      }
      &:not(:first-child) {
       width: $cell-default-width;
      }
    }

    td {
      width: $cell-default-width;
    }
  }
  
  thead {
    tr {
      background-color: $odd-row-bg;
    }
    th {
      padding: 10px 2px;
    }
  } 

  tbody {
    tr {
      &:nth-child(odd){
        background: $odd-row-bg; 
      }

      &:nth-child(even){
        background: $even-row-bg; 
      }

      &:hover {
        &:nth-child(odd){
          background: $odd-row-hover-bg; 
        }

        &:nth-child(even){
          background: $even-row-hover-bg; 
        }
      }
    }
  }

  tbody {
    tr {
     &:hover {
      // background-color: $row-hover-bg; 
     } 
    }
  }
   
  th, td {
    padding: 1px 2px; 
    font-size: 12px;
  }

  &.erlea-horario-detalle {
    tbody,
    thead {
      
      th {
        &:first-child {
          width: $detail-cell-time-width;
        }
        &:not(:first-child) {
         width: $detail-default-width;
        }
      }

      td {
        width: $detail-default-width;
      }
    }
    
    thead {
      th {
        &:last-child {
          text-align: left;
        }
      }
    }
  }
}

.h-link-to-detail {
  display: block;
  width: 100%;
  line-height: 28px;
  text-decoration: underline;

  &:hover {
    background-color: mix(hotpink, white, 20)
  }
}

.h-item-container {
  height: $item-container-height;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: solid;
}

.h-item {
  flex: 1 1 auto;
  background-color: $h-item-default-bg;
  color: $h-item-default-color;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
  line-height: 24px;
  text-align: center;
  border-radius: $h-item-border-radius;

  & + .h-item {
    border-left: 1px solid white;
  }

  &:hover {
    cursor: pointer;
    opacity: .9;
  }
}

.h-back-button {
  margin: 0;
  line-height: 24px;
  width: 90%;
}